*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
eula.txt
help.yml
libraries/*
logs/*
permissions.yml
plugins/LuckPerms/translations/*
plugins/WorldEdit/.archive-unpack/*
usercache.json
version_history.json
versions/*
wepif.yml
whitelist.json
ops.json
plugins/bStats/config.yml
plugins/CoreProtect/database.db
plugins/Essentials/usermap.csv
